<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="main-container">
    <nav class="main-sidebar">
        <ul>
            <li><a href="/">Editor</a></li>
            <li class="active"><a href="/curl">cURL</a></li>
        </ul>
        <div class="version-info">
            Versi칩n 0.1
        </div>
    </nav>
    <div class="content-placeholder">
        <h1>Herramienta cURL</h1>
        <p>Esta secci칩n est치 en construcci칩n.</p>
    </div>
</div>
</body>
</html>